<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net45" />
  <package id="Quartz" version="2.5.0" targetFramework="net45" />
  <package id="Topshelf" version="4.1.0" targetFramework="net452" />
</packages>