<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="App_Key" value="2df1bf3c1d0531dc"/>
		<add key="App_Secret" value="a007d852007f2ba8b19a2f7e003c5059"/>
		<add key="Url" value="http://115.231.57.18:8888/api/v1"/>
		<add key="wsUrl" value="ws://115.231.57.18:8888/websocket/record"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>