<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">
	<variable name="myvar" value="myvalue"/>
	<targets async="false">
		<target xsi:type="File" name="logFile" fileName="${basedir}\Logs\${date:yyyy-MM-dd}.txt" layout="${longdate} ${level}: ${event-context:item=exception} ${stacktrace} ${message} " encoding="UTF-8"/>
		<target xsi:type="Console" name="logConsole" layout="${longdate} ${level}: ${event-context:item=exception} ${stacktrace} ${message} "/>
		<target name="console" xsi:type="Console" layout="${longdate}|${level}|${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="logFile"/>
		<logger name="*" minlevel="Debug" writeTo="console"/>
	</rules>
</nlog>