<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lxsh.Project.BluetoothDemo.Properties.Settings.SFBR_ABDoor_DataConnectionString"
            connectionString="Data Source=SFBR253;Initial Catalog=SFBR_ABDoor_Data;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>