<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<!--删除不读默认配置文件-->
		
	<system.serviceModel>

		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Lxsh.Project.WcfServiceLib.EventAlarmInfo">
				<endpoint address="" binding="wsDualHttpBinding" contract="Lxsh.Project.WcfServiceLib.IEventAlarm">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Lxsh" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel> 

</configuration>