<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="strConn" value="Data Source=192.168.137.252;Initial Catalog=SFBR_ABDoor_Data;User Id=sa;Password=123456" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FreeSql" publicKeyToken="a33928e5d4a4b39c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.200.0" newVersion="2.3.200.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>