<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
	</configSections>
	<unity>
		<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
		<containers>
			<container name="LxshContainer">
				<extension type="Interception"/>
				<register type="Lxsh.Project.Bussiness.Interface.IUserService,Lxsh.Project.Bussiness.Interface" mapTo="Lxsh.Project.Bussiness.Service.UserService,Lxsh.Project.Bussiness.Service">
					<interceptor type="InterfaceInterceptor"/>
					<interceptionBehavior type="Lxsh.Project.Common.AOP.Behavior.LogBehavior, Lxsh.Project.Common"/>
					<interceptionBehavior type="Lxsh.Project.Common.AOP.Behavior.ExceptionLoggingBehavior, Lxsh.Project.Common"/>
					<lifetime type="transient" />
					<!--<constructor>
				-->
					<!--<param name="pubContext" type="IPubContext" />-->
					<!--
				<param name="id" type="System.Int32" value="3" />
			</constructor>-->
				</register>
			</container>
		</containers>
	</unity>
</configuration>