<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<!--删除不读默认配置文件-->
	     <!--<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEventAlarm" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Lxsh" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEventAlarm" contract="LxshService.IEventAlarm"
                name="BasicHttpBinding_IEventAlarm" />
        </client>
    </system.serviceModel>-->
	
</configuration>